<header class="header-section">
    <div class="container page-header-wrapper">
        <nav class="page-nav">
            <a class="logo" href="./index.html"><span class="logo-italic">Simply</span>&nbsp;chocolate
                <svg class="logo-icon" width="24" height="24">
                    <use href="./img/svg/sprite.svg#logo-icon" aria-label="chocolate logo"></use>
                </svg>
            </a>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a class="nav-link" href="./index.html">Home</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="#made">How it’s made?</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="#reviews">Chocolate is loved</a>
                </li>
            </ul>
        </nav>
        <ul class="social-list">
            <li class="social-list-item">
                <a href="https://www.instagram.com" target="_blank">
                    <svg class="social-list-icon" width="24" height="24">
                        <use href="./img/svg/sprite.svg#instagram-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-item">
                <a href="https://www.instagram.com" target="_blank">
                    <svg class="social-list-icon" width="24" height="24">
                        <use href="./img/svg/sprite.svg#twitter-icon"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="burger-button" type="button" data-menu-open>
            <svg class="buger-icon" width="28" height="28">
                <use href="./img/svg/sprite.svg#burger-icon"></use>
            </svg>
        </button>
    </div>
</header>
