<header class="header-section" id="header">
  <div class="container page-header-wrapper">
    <nav class="page-nav">
      <a class="logo" href="./index.html"
        ><span class="logo-italic">Simply</span>&nbsp;chocolate
        <svg class="logo-icon" width="24" height="24">
          <use
            href="./img/svg/sprite.svg#logo-icon"
            aria-label="chocolate logo"
          ></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#made">How it’s made?</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#reviews">Our products</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#reviews">Top sellers</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="social-list">
      <li class="social-list-item">
        <a href="https://www.instagram.com" target="_blank">
          <svg class="social-list-icon" width="24" height="24">
            <use href="./img/svg/sprite.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a href="https://www.instagram.com" target="_blank">
          <svg class="social-list-icon" width="24" height="24">
            <use href="./img/svg/sprite.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="burger-button" type="button" data-menu-open>
      <svg class="buger-icon" width="28" height="28">
        <use href="./img/svg/sprite.svg#burger-icon"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="mobile-menu-wrapper">
      <button
        class="mobile-menu-close-button"
        aria-label="close mobile menu"
        data-menu-close
      >
        <svg class="close-icon" width="28" height="28" data-menu-close>
          <use href="./img/svg/sprite.svg#close-icon" data-menu-close />
        </svg>
      </button>
      <nav class="mob-page-nav">
        <ul class="mob-nav-list">
          <li class="mob-nav-list-item">
            <a class="mob-nav-link" href="#header" data-menu-close>Home</a>
          </li>
          <li class="mob-nav-list-item">
            <a class="mob-nav-link" href="#made" data-menu-close
              >How it's made?</a
            >
          </li>
          <li class="mob-nav-list-item">
            <a class="mob-nav-link" href="#products" data-menu-close
              >Our products</a
            >
          </li>
          <li class="mob-nav-list-item">
            <a class="mob-nav-link" href="#top-sellers" data-menu-close
              >Top sellers</a
            >
          </li>
          <li class="mob-nav-list-item">
            <a class="mob-nav-link" href="#reviews" data-menu-close
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <ul class="mob-social-list">
      <li class="mob-social-list-item">
        <a href="https://www.instagram.com" target="_blank">
          <svg class="mob-social-list-icon" width="24" height="24">
            <use href="./img/svg/sprite.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="mob-social-list-item">
        <a href="https://www.instagram.com" target="_blank">
          <svg class="mob-social-list-icon" width="24" height="24">
            <use href="./img/svg/sprite.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
