<section class="hero-section" id="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <div class="links-flexbox">
        <button class="btn hero-btn" type="button">Buy now</button>
        <a class="hero-link btn-dark" href="#made">How it's made</a>
        <a class="hero-scroll" href="#subscribe"
          >scroll down
          <span class="scroll-btn">
            <svg class="scroll-icon" width="22" height="22">
              <use href="./img/svg/sprite.svg#scroll-icon"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
