<section class="ingredients-section">
  <div class="container ingredients-container">
    <h2 class="section-title">
      It all adds up to one exceptional
      <span class="accent-color">taste</span> sensation
    </h2>
    <p class="ingredients-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="ingredients-list">
      <li class="ingredients-list-item">
        <div class="ingredients-card">
          <div class="card-front">
            <picture>
              <source
                srcset="
                  ./img/desktop/PNG/compressed/milk-chocolate.png    1x,
                  ./img/desktop/PNG/compressed/milk-chocolate@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/tablet/PNG/compressed/milk-chocolate-tab.png    1x,
                  ./img/tablet/PNG/compressed/milk-chocolate-tab@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/PNG/compressed/milk-chocolate-mob.png    1x,
                  ./img/mobile/PNG/compressed/milk-chocolate-mob@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="ingredient-illustration"
                src="./img/desktop/PNG/compressed/milk-chocolate.png"
                alt="Picture with a milk chocolate"
                width="206"
              />
            </picture>
            <p>Milk chocolate</p>
          </div>
          <div class="card-back">
            <h2 class="card-back-title">Milk chocolate</h2>
            <ul class="card-back-link-list">
              <li class="card-back-list-item card-back-link">
                <p>chocolate</p>
              </li>
              <li class="card-back-list-item card-back-link link-light">
                <p>the benefits</p>
              </li>
            </ul>
            <p class="card-back-description">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>

      <li class="ingredients-list-item">
        <div class="ingredients-card">
          <div class="card-front">
            <picture>
              <source
                srcset="
                  ./img/desktop/PNG/compressed/milk.png    1x,
                  ./img/desktop/PNG/compressed/milk@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/tablet/PNG/compressed/milk-tab.png    1x,
                  ./img/tablet/PNG/compressed/milk-tab@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/PNG/compressed/milk-mob.png    1x,
                  ./img/mobile/PNG/compressed/milk-mob@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="ingredient-illustration"
                src="./img/desktop/PNG/compressed/milk.png"
                alt="Picture with a bootle of milk"
                width="206"
              />
            </picture>
            <p>Milk</p>
          </div>
          <div class="card-back">
            <h2 class="card-back-title">Milk</h2>
            <ul class="card-back-link-list">
              <li class="card-back-list-item card-back-link">
                <p>milk</p>
              </li>
              <li class="card-back-list-item card-back-link link-light">
                <p>the benefits</p>
              </li>
            </ul>
            <p class="card-back-description">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="ingredients-list-item">
        <div class="ingredients-card">
          <div class="card-front">
            <picture>
              <source
                srcset="
                  ./img/desktop/PNG/compressed/nuts.png    1x,
                  ./img/desktop/PNG/compressed/nuts@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/tablet/PNG/compressed/nuts-tab.png    1x,
                  ./img/tablet/PNG/compressed/nuts-tab@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/PNG/compressed/nuts-mob.png    1x,
                  ./img/mobile/PNG/compressed/nuts-mob@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="ingredient-illustration"
                src="./img/desktop/PNG/compressed/nuts.png"
                alt="Picture with nuts"
                width="206"
              />
            </picture>
            <p>Nuts</p>
          </div>
          <div class="card-back">
            <h2 class="card-back-title">Nuts</h2>
            <ul class="card-back-link-list">
              <li class="card-back-list-item card-back-link">
                <p>nuts</p>
              </li>
              <li class="card-back-list-item card-back-link link-light">
                <p>the benefits</p>
              </li>
            </ul>
            <p class="card-back-description">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="ingredients-list-item">
        <div class="ingredients-card">
          <div class="card-front">
            <picture>
              <source
                srcset="
                  ./img/desktop/PNG/compressed/beans.png    1x,
                  ./img/desktop/PNG/compressed/beans@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/tablet/PNG/compressed/beans-tab.png    1x,
                  ./img/tablet/PNG/compressed/beans-tab@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/PNG/compressed/beans-mob.png    1x,
                  ./img/mobile/PNG/compressed/beans-mob@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="ingredient-illustration"
                src="./img/desktop/PNG/compressed/beans.png"
                alt="Picture with semi-sweet chocolate"
                width="206"
              />
            </picture>
            <p>Semi-sweet chocolate</p>
          </div>
          <div class="card-back">
            <h2 class="card-back-title">semi - sweet chocolate</h2>
            <ul class="card-back-link-list">
              <li class="card-back-list-item card-back-link">
                <p>sweet chocolate</p>
              </li>
              <li class="card-back-list-item card-back-link link-light">
                <p>the benefits</p>
              </li>
            </ul>
            <p class="card-back-description short-description">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
