<div class="backdrop" data-modal-subscribe>
  <div class="modal-buy-now-window subscribe-window">
    <div class="modal-subscribe-bg-thumb">
      <button
        type="button"
        class="modal-buy-now-close-btn"
        data-modal-subscribe-close
      >
        <svg
          class="buy-now-close-icon modal-subscribe-close"
          width="24"
          height="24"
        >
          <use href="../img/svg/sprite.svg#close-icon"></use>
        </svg>
      </button>
    </div>
    <div class="modal-subscribe-thumb">
      <h2 class="section-title modal-title subscribe-modal-title">
        Explore our&thinsp;<span class="mobile-br"><br /></span>
        <span class="accent-color">new chocolate&thinsp;</span>first!
      </h2>
      <form class="modal-buy-form modal-subscribe-form">
        <input
          class="buy-form-input modal-subscribe-input"
          id="customer-email"
          type="email"
          name="customer-email"
          placeholder="Enter your email"
          required
        />
        <button class="btn send-btn modal-subscribe-btn" type="submit">
          Subscribe
        </button>
      </form>
    </div>
  </div>
</div>
