<section class="products-section">
  <div class="container">
    <h2 class="section-title">
      Our <span class="accent-color">products</span>
    </h2>
    <div class="swiper" id="productsSwiper">
      <ul class="products-list swiper-wrapper">
        <li class="products-item swiper-slide">
          <div class="products-card">
            <picture>
              <source
                srcset="
                  ./img/desktop/JPG/compressed/choco-orange.jpg    1x,
                  ./img/desktop/JPG/compressed/choco-orange@2x.jpg 2x
                "
              />
              <img
                class="products-card-img"
                src="./img/desktop/JPG/compressed/choco-orange.jpg"
                alt="Orange dark chocolate"
                width="230px"
              />
            </picture>
            <h3 class="products-card-title">Orange</h3>
            <p class="products-card-desc">Dark chocolate</p>
            <p class="products-card-price">45 UAH</p>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <div class="products-card">
            <picture>
              <source
                srcset="
                  ./img/desktop/JPG/compressed/choco-apple.jpg    1x,
                  ./img/desktop/JPG/compressed/choco-apple@2x.jpg 2x
                "
              />
              <img
                class="products-card-img"
                src="./img/desktop/JPG/compressed/choco-apple.jpg"
                alt="Apple and cranberry chocolate"
                width="230px"
              />
            </picture>
            <h3 class="products-card-title">APPLE&CRANBERRY</h3>
            <p class="products-card-desc">Milk chocolate</p>
            <p class="products-card-price">50 UAH</p>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <div class="products-card">
            <picture>
              <source
                srcset="
                  ./img/desktop/JPG/compressed/choco-lime.jpg    1x,
                  ./img/desktop/JPG/compressed/choco-lime@2x.jpg 2x
                "
              />
              <img
                class="products-card-img"
                src="./img/desktop/JPG/compressed/choco-lime.jpg"
                alt="Lime and Sea salt chocolate"
                width="230px"
              />
            </picture>
            <h3 class="products-card-title">lime&sea salt</h3>
            <p class="products-card-desc">Dark chocolate</p>
            <p class="products-card-price">66 UAH</p>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <div class="products-card">
            <picture>
              <source
                srcset="
                  ./img/desktop/JPG/compressed/choco-pineapple.jpg    1x,
                  ./img/desktop/JPG/compressed/choco-pineapple@2x.jpg 2x
                "
              />
              <img
                class="products-card-img"
                src="./img/desktop/JPG/compressed/choco-pineapple.jpg"
                alt="Pineapple chocolate"
                width="230px"
              />
            </picture>
            <h3 class="products-card-title">Pineapple</h3>
            <p class="products-card-desc">Dark chocolate</p>
            <p class="products-card-price">54 UAH</p>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <div class="products-card">
            <picture>
              <source
                srcset="
                  ./img/desktop/JPG/compressed/choco-milk.jpg    1x,
                  ./img/desktop/JPG/compressed/choco-milk@2x.jpg 2x
                "
              />
              <img
                class="products-card-img"
                src="./img/desktop/JPG/compressed/choco-milk.jpg"
                alt="Classic chocolate"
                width="230px"
              />
            </picture>
            <h3 class="products-card-title">Classic</h3>
            <p class="products-card-desc">Milk chocolate</p>
            <p class="products-card-price">45 UAH</p>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <div class="products-card">
            <picture>
              <source
                srcset="
                  ./img/desktop/JPG/compressed/choco-honey.jpg    1x,
                  ./img/desktop/JPG/compressed/choco-honey@2x.jpg 2x
                "
              />
              <img
                class="products-card-img"
                src="./img/desktop/JPG/compressed/choco-honey.jpg"
                alt="Honey chocolate"
                width="230px"
              />
            </picture>
            <h3 class="products-card-title">Honey</h3>
            <p class="products-card-desc">Milk chocolate</p>
            <p class="products-card-price">50 UAH</p>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <div class="products-card">
            <picture>
              <source
                srcset="
                  ./img/desktop/JPG/compressed/choco-winter.jpg    1x,
                  ./img/desktop/JPG/compressed/choco-winter@2x.jpg 2x
                "
              />
              <img
                class="products-card-img"
                src="./img/desktop/JPG/compressed/choco-winter.jpg"
                alt="Roasted winter fruits chocolate"
                width="230px"
              />
            </picture>
            <h3 class="products-card-title">Roasted fruits</h3>
            <p class="products-card-desc">Dark chocolate</p>
            <p class="products-card-price">66 UAH</p>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <div class="products-card">
            <picture>
              <source
                srcset="
                  ./img/desktop/JPG/compressed/choco-classic.jpg    1x,
                  ./img/desktop/JPG/compressed/choco-classic@2x.jpg 2x
                "
              />
              <img
                class="products-card-img"
                src="./img/desktop/JPG/compressed/choco-classic.jpg"
                alt="Classic white chocolate"
                width="230px"
              />
            </picture>
            <h3 class="products-card-title">Classic</h3>
            <p class="products-card-desc">White chocolate</p>
            <p class="products-card-price">54 UAH</p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
