<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="section-title reviews-title">
      <span class="accent-color">chocolate</span> is loved
    </h2>
    <div class="swiper" id="reviewsSwiper">
      <ul class="review-list swiper-wrapper">
        <!-- <li class="review-list-item swiper-slide">
          <div class="review-item-thumb">
            <img
              class="reviewers-photo"
              src="./img/mobile/JPG/compressed/userpic-girl3-mob@2x.webp"
              alt="User's photo"
              width="80"
            />
            <div class="review-card-thumb">
              <p class="reviewers-name">Victoria Dobrzhanska</p>
              <p class="review-text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </li>
        <li class="review-list-item swiper-slide">
          <div class="review-item-thumb">
            <img
              class="reviewers-photo"
              src="./img/mobile/JPG/compressed/userpic-girl3-mob@2x.webp"
              alt="User's photo"
              width="80"
            />
            <div class="review-card-thumb">
              <p class="reviewers-name">Victoria Dobrzhanska</p>
              <p class="review-text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </li>
        <li class="review-list-item swiper-slide">
          <div class="review-item-thumb">
            <img
              class="reviewers-photo"
              src="./img/mobile/JPG/compressed/userpic-girl3-mob@2x.webp"
              alt="User's photo"
              width="80"
            />
            <div class="review-card-thumb">
              <p class="reviewers-name">Victoria Dobrzhanska</p>
              <p class="review-text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </li>
        <li class="review-list-item swiper-slide">
          <div class="review-item-thumb">
            <img
              class="reviewers-photo"
              src="./img/mobile/JPG/compressed/userpic-girl3-mob@2x.webp"
              alt="User's photo"
              width="80"
            />
            <div class="review-card-thumb">
              <p class="reviewers-name">Victoria Dobrzhanska</p>
              <p class="review-text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </li> -->
      </ul>
      <div class="reviews-swiper-pagination"></div>
    </div>
    <button type="button" class="btn-dark btn-review" data-modal-review-open>
      Leave a review
    </button>
  </div>
</section>
