<section class="sellers-section">
    <div class="container">
        <h2 class="section-title"><span class="accent-color">Top</span> sellers</h2>
        <ul class="sellers-list">
            <li class="sellers-item">
                <picture>
                    <source srcset="./img/desktop/JPG/compressed/nuts.jpg 1x, ./img/desktop/JPG/compressed/nuts@2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./img/tablet/JPG/compressed/nuts-tab.jpg 1x, ./img/tablet/JPG/compressed/nuts-tab@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/mobile/JPG/compressed/nuts-mob.jpg 1x, ./img/mobile/JPG/compressed/nuts-mob@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img class="sellers-img" src="./img/desktop/JPG/compressed/nuts.jpg" alt="Picture with the chocolate and nuts">
                </picture>
                
            </li>
            <li class="sellers-item">
                <picture>
                    <source srcset="./img/desktop/JPG/compressed/mountain-nuts.jpg 1x, ./img/desktop/JPG/compressed/mountain-nuts@2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./img/tablet/JPG/compressed/mountain-tab.jpg 1x, ./img/tablet/JPG/compressed/mountain-tab@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/mobile/JPG/compressed/mountain-nuts-mob.jpg 1x, ./img/mobile/JPG/compressed/mountain-nuts-mob@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img class="sellers-img" src="./img/desktop/JPG/compressed/mountain-nuts.jpg" alt="Picture with the chocolate and nuts">
                </picture>
            </li>
            <li class="sellers-item">
                <picture>
                    <source srcset="./img/desktop/JPG/compressed/mountain.jpg 1x, ./img/desktop/JPG/compressed/mountain@2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./img/tablet/JPG/compressed/mountain-tab.jpg 1x, ./img/tablet/JPG/compressed/mountain-tab@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/desktop/JPG/compressed/mountain.jpg 1x, ./img/desktop/JPG/compressed/mountain@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img class="sellers-img" src="./img/desktop/JPG/compressed/mountain.jpg" alt="Picture with the chocolate and nuts">
                </picture>
            </li>

        </ul>
        <div class="sellers-el-wrapper">
            <p class="sellers-description">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao.
                Cacao has been around for
                thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button class="btn">Buy now</button>
        </div>
                   
        
        
    </div>
</section>