.container {
  padding: 20px 20px 14px 20px;
  margin: 0 auto;
}
.page-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.social-list {
  display: none;
}

.burger-button {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  stroke: #111111;
  padding: 0;
  line-height: 0;
}
.burger-icon {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  .burger-button {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 0;
  }

  .burger-button {
    display: none;
  }

  .page-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 980px;
  }

  .nav-list {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 24px;
  }
  .nav-link {
    display: block;
    padding-top: 28px;
    padding-bottom: 36px;
    transition: color 250ms linear;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #fd9222;
  }

  .social-list {
    display: flex;
    column-gap: 18px;
    margin-left: 90px;
  }

  .social-list-icon {
    stroke: #111111;
    fill: transparent;
    transition: stroke 250ms linear;
  }

  .social-list-icon:hover,
  .social-list-icon:focus {
    stroke: #fd9222;
  }
}

.page-header {
}

.page-nav {
}
.logo {
}
.logo-italic {
}
.logo-icon {
}
.nav-list-item {
}
.nav-link {
}

.social-list-item {
}
.social-list-icon {
}
