.header-section {
  padding-top: 14px;
  padding-bottom: 20px;
}



.page-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.social-list {
  display: none;
}

.burger-button {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  stroke: var(--dark-icon-stroke);
  padding: 0;
  line-height: 0;
}

.burger-icon {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .burger-button {
    width: 32px;
    height: 32px;
  }

  .header-section {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .burger-button {
    display: none;
  }

  .page-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 980px;
  }

  .nav-list {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 24px;
  }

  .nav-link {
    display: block;
    padding-top: 28px;
    padding-bottom: 36px;
    transition: color 250ms linear;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--accent-color);
  }

  .social-list {
    display: flex;
    column-gap: 18px;
    margin-left: 90px;
  }

  .social-list-icon {
    stroke: #111111;
    fill: transparent;
    transition: stroke 250ms linear;
  }

  .social-list-icon:hover,
  .social-list-icon:focus {
    stroke: var(--accent-color);
  }
}

/* Mob-menu styles */

.mobile-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-bg-color);
  padding: 14px 20px 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.is-open {
  transform: translateX(0);
}


.mobile-menu-close-button {
  display: block;
  margin-left: auto;
  margin-bottom: 100px;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
}

.close-icon {
  stroke: var(--light-text-color);
}

.close-icon:active {
  stroke: var(--accent-color)
}

.mob-page-nav {
  margin-left: 53px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-text-color);
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-nav-link:active {
  font-weight: 600;
  color: var(--accent-color);
}

.mob-social-list {
  display: flex;
  gap: 18px;
  stroke: var(--light-text-color);
  fill: transparent;
  margin-top: auto;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 320px;
    padding: 24px 32px 24px 32px;
  }
}