.hero-section {
  padding-bottom: 71px;
  color: var(--light-text-color);
}

.hero-container {
  padding: 20px 20px;
  background-color: var(--dark-bg-color);
  border-radius: 30px;
  background-image: linear-gradient(180deg,
      rgba(17, 17, 17, 0),
      rgba(17, 17, 17, 0.4)),
    url(../img/mobile/JPG/compressed/hero-image-mob.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(180deg,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)),
      url(../img/mobile/JPG/compressed/hero-image-mob@2x.webp);
  }
}

.hero-title {
  max-width: 295px;
  padding-top: 375px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.hero-btn {
  margin-bottom: 14px;
}

.btn-dark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 41px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 0;
  padding: 0;
  border: 1px solid var(--light-text-color);
  border-radius: 100px;
  transition: color 250ms linear, border 250ms linear,
    background-color 250ms linear;
  margin-bottom: 14px;
}

.btn-dark:hover,
.btn-dark:focus {
  background-color: var(--light-bg-color);
  color: var(--accent-color);
  border: 1.5px solid var(--accent-color);
}

.hero-scroll {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  gap: 14px;
}

.scroll-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--light-bg-color);
  fill: var(--accent-color);
  transition: background-color 250ms linear, fill 250ms linear;
}

.scroll-icon {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 376px) {
  .links-flexbox {
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 32px;
  }

  .hero-btn {
    margin-bottom: 0;
  }

  .btn-dark {
    margin-bottom: 0;
  }


}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 50px;
  }

  .hero-container {
    padding: 40px 40px;
    background-image: linear-gradient(180deg,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)),
      url(../img/tablet/JPG/compressed/hero-image-tab.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0),
          rgba(17, 17, 17, 0.4)),
        url(../img/tablet/JPG/compressed/hero-image-tab@2x.webp);
    }
  }

  .hero-title {
    max-width: 484px;
    padding-top: 631px;
    font-weight: 500;
    font-size: 28px;
  }

  .links-flexbox {
    display: flex;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
  }

  .hero-link {
    margin-right: auto;
  }

  .btn-dark {
    width: 183px;
    height: 45px;
    margin-bottom: 0;
  }

  .hero-btn {
    margin-right: 14px;
    margin-bottom: 0;
  }

  .hero-scroll {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    gap: 14px;
  }

  .scroll-icon {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    padding-bottom: 72px;
  }

  .hero-container {
    background-image: linear-gradient(180deg,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)),
      url(../img/desktop/JPG/compressed/hero-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0),
          rgba(17, 17, 17, 0.4)),
        url(../img/desktop/JPG/compressed/hero-image@2x.webp);
    }
  }

  .hero-title {
    padding-top: 341px;
    font-weight: 500;
    font-size: 28px;
  }

  .hero-link {
    margin-right: auto;
  }

  .btn-dark {
    width: 183px;
    height: 45px;
    border: 1.5px solid #fff;
  }

  .hero-btn {
    margin-right: 14px;
  }

  .hero-scroll {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    gap: 14px;
  }

  .scroll-icon {
    width: 16px;
    height: 16px;
  }

  .hero-scroll:hover,
  .hero-scroll:focus {
    color: #fd9222;
  }

  .hero-scroll:hover .scroll-btn {
    background-color: #fd9222;
    fill: #ffffff;
  }
}