.products-section {
  padding: 36px 0;
}

.products-list {
  margin-bottom: 40px;
}

.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  max-width: 335px;
  background-color: #fff;
  margin: 0 auto;
}

.products-card {
  display: block;
  padding: 32px 53px;
}

.products-card-img {
  margin-bottom: 8px;
}

.products-card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.34;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  margin-bottom: 2px;
}

.products-card-desc {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin-bottom: 18px;
}

.products-card-price {
  display: block;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 0;
  background-color: #fafafa;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  width: 94px;
  margin: 0 auto;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  margin: 0 6.5px;
  background-color: rgba(17, 17, 17, 0.1);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fd9222;
  width: 28px;
  border-radius: 12px;
}

@media only screen and (min-width: 768px) {
  .products-section {
    padding: 50px 0;
  }

  .products-list {
    margin-bottom: 40px;
  }

  .products-item {
    max-width: 270px;
    margin: 0 0;
  }

  .products-card {
    display: block;
    padding: 32px 20px;
  }

  .products-card-img {
    width: 230px;
    margin-bottom: 8px;
  }

  .products-list {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .products-section {
    padding: 64px 0;
  }

  .products-item {
    cursor: grab;
  }

  .swiper-pagination-bullet {
    cursor: pointer;
    transition: background-color 250ms linear;
  }

  .swiper-pagination-bullet:hover {
    background-color: var(--accent-color);
  }
}