.reviews-section {
    padding: 36px 0 72px 0;
}


.review-list {
    margin-bottom: 20px;
}

.review-list-item {
    display: block;
    max-width: 335px;
    padding-top: 42px;
}

.review-item-thumb {
    position: relative;
}

.review-card-thumb {
    padding: 56px 18px 42px 18px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 27px 0 rgba(215, 228, 249, 0.25);
    background: #fff;
    height: 200px;
}

.reviewers-photo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
}

.reviewers-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
    margin-bottom: 24px;
}

.review-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    max-width: 299px;
}

.reviews-swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.reviews-swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin: 0 6.5px;
    background-color: rgba(17, 17, 17, 0.1);
    opacity: 1;
    border-radius: 50%;
}

.reviews-swiper-pagination-bullet-active {
    background-color: var(--accent-color);
    width: 28px;
    border-radius: 12px;
}

.btn-review {
    display: block;
    margin: 0 auto;
    width: 165px;
    border-color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
    .reviews-section {
        padding: 50px 0 100px 0;
    }

    .review-list {
        margin-bottom: 32px;
    }

    .review-list-item {
        max-width: 344px;
        padding-top: 42px;
    }

    .review-card-thumb {
        padding: 56px 16px 42px 16px;
    }

    .btn-review {
        width: 222px;
        height: 50px;
        border-color: var(--accent-color);
        font-size: 18px;
    }

    .review-text {
        max-width: 312px;
    }
}

@media only screen and (min-width: 1200px) {
    .reviews-section {
        padding: 64px 0 128px 0;
    }

    .review-list {
        margin-bottom: 32px;
    }

    .review-list-item {
        max-width: 360px;
        cursor: pointer;
    }

    .review-card-thumb {
        padding: 56px 24px 42px 24px;
    }

    .reviews-swiper-pagination span {
        cursor: pointer;
        transition: background-color 250ms linear;
    }

    .reviews-swiper-pagination span:hover {
        background-color: var(--accent-color);
    }
}