/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./benefits.css');
@import url('./ingredients.css');
@import url('./made.css');
@import url('./products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    min-width: 375px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    min-width: 768px;
    padding: 24px 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* .section {
    padding: 30px 0;
}

@media only screen and (min-width: 768px) {
   .section{
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1280px) {
   .section{
    padding: 50px 0;
  }
} */

.accent-color {
  color: #fd9222;
}

/* LOGO STYLES */

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.logo-italic {
  font-style: italic;
}

.logo-icon {
  margin-left: 4px;
  stroke: #fd9222;
  fill: #fcf1e0;
  width: 21px;
  height: 21px;
}

@media only screen and (min-width: 1280px) {
  .logo {
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.03em;
  }
  .logo-icon {
    width: 24px;
    height: 24px;
  }
}
