.sellers-section {
  padding: 36px 0;
}

.sellers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 20px;
}

.sellers-item:nth-child(3) {
  display: none;
}

.sellers-img {
  border-radius: 15px;
  width: 335px;
}

.sellers-description {
  max-width: 306px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.sellers-el-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .sellers-section {
    padding: 50px 0;
  }

  .sellers-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .sellers-item:nth-child(3) {
    display: none;
  }

  .sellers-img {
    border-radius: 15px;
    width: 344px;
  }

  .sellers-el-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sellers-description {
    max-width: 306px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }

  .btn {
    display: flex;
    max-width: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  .sellers-section {
    padding: 64px 0;
  }

  .sellers-list {
    margin-bottom: 32px;
  }

  .sellers-item:nth-child(3) {
    display: inline-block;
  }

  .sellers-img {
    border-radius: 15px;
    width: 368px;
  }

  .sellers-description {
    max-width: 407px;
  }
}